body {background-image: url("http://cdn.pcwallart.com/images/autumn-trees-wallpaper-widescreen-wallpaper-3.jpg");}
.extreme {background-color: darkorchid;}
#head1 {text-size: 76px;}
.navzone {text-transform: uppercase; background-color: rgba(255, 255, 255, 0.5);}
a {font-family: monospace;}
#tehlulz {display: inline-block; background-color: goldenrod; color: blue;}
.content {text-align: right; background-color: rgba(128, 128, 128, 0.5);}
.prose {text-align: left; width: 50%; margin: 0 auto; color: #1a1;}