body {
    background-color: black;
    color: yellow;
}
h1 {
    font-size: 72px;
}
h2 {
    letter-spacing: 10px;
    text-align: center;
}
a {
    color: gold;
}
a:hover {
    text-decoration: none;
    color: white;
}
p {
    display: block;
    margin: 0 auto;
    width: 50%;
    text-align: center;
}